<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta-name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks App</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen">

    <!-- Navbar -->
    <nav class="bg-white shadow-md px-6 py-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-gray-700">Post App</h1>
        <a 
            href="/logout" 
            class="px-5 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition font-medium">
            Logout
        </a>
    </nav>

    <div class="max-w-3xl mx-auto py-10 px-4">

        <!-- Welcome Card -->
        <div class="bg-white shadow-xl rounded-2xl p-8 mb-10 border border-gray-200">
            <h2 class="text-2xl font-semibold text-gray-700 mb-6 text-center">
                Welcome, <span class="text-blue-600">— let's Update Content ✨</span> 
            </h2>

            <form action="/edit/<%= post._id %>" method="post" class="space-y-6">

                <textarea 
                    name="content"
                    rows="4"
                
                    class="w-full p-4 border border-gray-300 rounded-xl focus:ring-2 focus:ring-blue-500 outline-none text-gray-700"
                ><%= post.content %></textarea>

                <button 
                    type="submit"
                    class="w-full py-3 bg-blue-600 text-white text-lg font-medium rounded-xl hover:bg-blue-700 transition">
                    Update Content
                </button>
            </form>
        </div>

       


    </div>

</body>
</html>
